:root {
  --color1: #C4DFAA;
  --color2: rgba(115,169,173,1);
  --color3: yellow;
  --color4: white;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --gradient: linear-gradient(274deg, var(--color1) 0%,  var(--color2)  100%);
}

@font-face {
  font-family: raleway;
  src: url('../assets/font/raleway/Raleway-Medium.ttf');
}

html {
  position: relative;
  height: 100%;
}

body {
  color: white;
  background: var(--color2);
  background: var(--gradient);
  font-family: raleway;
  min-height: 100%;
  margin: 0;
}

hr {
  --color: black;
  background: var(--color);
  border: 2px solid var(--color);
  border-radius: 5px;
}

.logo {
  height: 8em;
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
}

.title {
  --title-size: 1.5rem;
  color: var(--color3);
  text-transform: uppercase;
  font-size: var(--title-size);
}

.title span {
  color: white;
  font-size: calc(var(--title-size) * 2);
  display: block;
}

.button {
  --button-bg-color: green;
  --button-fg-color: white;
  --button-fontsize: inherit;

  text-decoration: none;
  border: 2px solid var(--button-fg-color);
  border-radius: 1rem;
  width: min-content;

  color: var(--button-fg-color);
  background: var(--button-bg-color);
  padding: 0.5em 1.5em;

  font-size: var(--button-fontsize);
  font-weight: bold;

  text-transform: uppercase;
  align-self: center;
}

.button:is(:hover, :focus){
  --button-bg-color: white;
  --button-fg-color: green;
  font-weight: bolder;
}

.focus-grow:is(:hover, :focus) {
  scale: 1.05 1.05;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-vert-center {
  justify-content: center;
}
