.section-parcours {
  display: grid;
  gap: 1rem;
  --taille-min-cartes: 16rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--taille-min-cartes), 1fr));

  margin: 3em;
}

.title-parcours {
  text-transform: capitalize;
}

.parcours {
  color: black;
  border-radius: 5px;
  overflow: hidden;

  text-align: center;
  box-shadow: var(--shadow);
  background: var(--color1);

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.parcours hr {
  margin: 0 1em;
}

.parcours img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.parcours p {
  text-align: left;
  margin: 0 1em;
}

.parcours:focus-within{
  scale: 1.05 1.05;
}

.score-nb {
  font-weight: bold;
}

.play {
  color: white;
  text-decoration: none;
}

