.streetview {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;

  top: 0;
  left: 0;
  z-index: -1;
}

.minimap {
  position: absolute;
  background: var(--color1);
  z-index: 9999;

  bottom: 2rem;
  right: 2rem;

  width: 15rem;
  height: 15rem;
  aspect-ratio: 1 / 1;
  transition: 
    width 500ms ease-in-out,
    height 1s ease-in-out;

  border: 5px black double;
  border-radius: 5px;
}

.minimap:hover {
  width: 20rem;
  height: 20rem;
  transition: 
    height 500ms ease-in-out,
    width 500ms ease-in-out;
}

.minimap:focus { /** Separated for firefox compatibility **/ 
  height: 90vh;
  width: 45vw;
}
.minimap:has(*:focus) {
  height: 90vh;
  width: 45vw;
}
