html {
  position: relative;
  height: 100%;
}

body {
  color: white;
  background: rgb(196,223,170);
  background: linear-gradient(274deg, rgba(196,223,170,1) 0%, rgba(115,169,173,1) 100%);
  font-family: sans-serif;
}

/* https://colorhunt.co/palette/f5f0bbc4dfaa90c8ac73a9ad */


/* Recap */

.title {
  color: yellow;
  text-transform: uppercase;
}

.title span {
  color: white;
  font-size: 3rem;
  display: block;
}


.recap {
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Cards */

.section-parcours {
  --taille-min-cartes: 16rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--taille-min-cartes), 1fr));

  margin: 2em;
}

.title-parcours {
  text-transform: capitalize;
}

.parcours {
  color: black;
  border-radius: 15px;
  overflow: hidden;

  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #C4DFAA;

  display: flex;
  flex-direction: column;
}

.description-parcours {
  flex: 1 1 auto;
  max-height: 100%;
}

.parcours hr {
  margin: 0 1em;
}

.parcours img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.parcours:has(.play:focus){
  scale: 1.05 1.05;
}

.play {
  border: none;
  border-radius: 15px;
  width: min-content;

  color: white;
  background: green;
  padding: 0.5em 1.5em;

  font-weight: bolder;
  margin-bottom: 1em;

  text-transform: uppercase;
  align-self: center;
}

.score-nb {
  font-weight: bold;
}

:is(.parcours, .play):hover {
  scale: 1.05 1.05;
}

.play {
  color: white;
  text-decoration: none;
}

/* Classement */

.section-leaderboard {
  margin: 1em 0;
  display: grid;
  justify-content: center;
  gap: 1em;
  counter-reset: section;
}

.classement-item {
  counter-increment: section;
  display: grid;
  align-items: center;
  width: 80vw;
  grid-template-columns: 70px 1fr 100px;
  color: black;
  background: #C4DFAA;
  border-radius: 15px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.classement-item::before {
  content: counter(section);
  grid-column: 1;
  justify-self: center;

  color: yellow;
  background: black;
  border-radius: 15px;
  padding: 0.2rem 0.60rem;

  font-weight: 1000;
  font-size: 1.5rem;
  text-align: center;
}

.classement-item-username {
  grid-column: 2;
  font-weight: normal;
}

.classement-item-username::before {
  content: "@";
}

.classement-item-score {
  margin: 0;
  padding: 0;
  grid-column: 3;

  font-weight: bold;
  font-size: 1.5rem;
}

.classement-item-score::after {
  content: "pts";
}

/* Map */

.streetview {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;

  top: 0;
  left: 0;
}

.minimap {
  position: absolute;
  background: red;
  z-index: 9999;

  bottom: 2rem;
  right: 2rem;

  width: 10rem;
  height: 10rem;
  transition: scale 500ms ease-in-out, translate 500ms ease-in-out;
}

.minimap:focus, .minimap:hover {
  scale: 1.5 1.5;
  translate: -2rem -2rem;
}
