body {
  color: white;
  background: rgb(196,223,170);
  background: linear-gradient(274deg, rgba(196,223,170,1) 0%, rgba(115,169,173,1) 100%);
  font-family: sans-serif;
}

/* https://colorhunt.co/palette/f5f0bbc4dfaa90c8ac73a9ad */


/* Recap */

.title {
  color: yellow;
  text-transform: uppercase;
}

.title span {
  color: white;
  font-size: 3rem;
  display: block;
}


.recap {
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Cards */

.section-parcours {
  --taille-min-cartes: 16rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--taille-min-cartes), 1fr));

  margin: 2em;
}

.title-parcours {
  text-transform: capitalize;
}

.parcours {
  color: black;
  border-radius: 15px;
  overflow: hidden;

  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #C4DFAA;

  display: flex;
  flex-direction: column;
}

.description-parcours {
  flex: 1 1 auto;
  max-height: 100%;
}

.parcours hr {
  margin: 0 1em;
}

.parcours img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.parcours:has(.play:focus){
  scale: 1.05 1.05;
}

.play {
  border: none;
  border-radius: 15px;
  width: min-content;

  color: white;
  background: green;
  padding: 0.5em 1.5em;

  font-weight: bolder;
  margin-bottom: 1em;

  text-transform: uppercase;
  align-self: center;
}

.score-nb {
  font-weight: bold;
}

:is(.parcours, .play):hover {
  scale: 1.05 1.05;
}

.play {
  color: white;
  text-decoration: none;
}

/* Jouer  */


