.bienvenue-header{
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body{
  backdrop-filter: brightness(0.6);
  background-color: var(--gradient);
  background-image: url("../assets/img/acceuil/1920x1200_px_clouds_forest_Green_nature-833665.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header-centered-content {
  display: grid;
  grid-template-rows: min-content 1fr;
}

/*Message de bienvenue*/

.texte-presentation{
  text-align: justify;
  width: 100%;
}

.connexion{
  display: flex;
  color: white;
  text-decoration:none;

  justify-content: right;
  align-items: center;
  padding-right: 2em;
}

.connexion:hover{
  text-decoration:underline;
}

.bienvenue{
  justify-content: center;
  margin: 5rem 0;
  width: min(85vw, 25rem);
}

.bienvenue .title {
  padding-bottom: 20px;
}

.bienvenue p{
  text-align: center;
}

.title{
  text-align: center;

}

/*Le CSS du carroussel*/

.slider-container {
  width: min(90vw, 800px);
  height: 350px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.slide-menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.slide-menu-item {
  cursor: pointer;
  display: inline-block;
  width: 1em;
  aspect-ratio: 1 / 1;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.slide-menu-item:is(:hover, :focus) {
  background: #1c87c9;
}

.slide-item {
  opacity: 0;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: 10;
  object-fit: cover;
  background-color: rgba(115,169,173,0.5);
  border-radius: 20px;
  text-align: center;
  --transition-duration: 250ms;
  transition: opacity var(--transition-duration) ease-out;
}

.slide-item p{
  font-size: large;
  padding: 30px 10px 30px 10px;
}

.slide-item img{
  width: 10em;
  padding: 10px;
}

.slide-input{
  display: none;
}

.slide-input:checked + .slide-item {
  z-index: 100;
  opacity: 1;
  transition-delay: var(--transition-duration);
}


/*CSS pour le formulaire*/

form{
  justify-content: center;
  align-content: center;
  margin: 20px 0 20px 0;
  margin-inline: 30%;
  padding-bottom: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: min(80vw, 800px);
  box-shadow: var(--shadow);
}

.form-title {
  text-align: center;
  font-style: oblique;
}
#SignIn{
  display: flex;
}
#SignUp{
  display: none;
}

fieldset{
  border: none;
  padding: 1em;
  margin: 4px;
  text-align: center;
  overflow: visible;
}

.label-file {
    cursor: pointer;
}


#icon{
  display: none;
}

form fieldset input{
  display: block;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  width: 20em;
  height: 2em;
  padding-left: 1em;
}

form a{
  display: block;
  text-align: center;
  color: white;
  text-decoration:none;
  cursor: pointer;
}
.button{
  cursor: pointer;
}

form a:hover, .label-file:hover{
  text-decoration:underline;
  
}

form fieldset legend{
  display: block;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
}



#message, #messageNom {
  display:none;
  padding: 0.1em;
}
.checkbox {
  display: flex;
  
}
.checkbox input{
  width: 19px;
}
.checkbox p{
  padding: 1em;
}
#message p, #messageNom p {
  padding: 10px 35px;
}

.valid:before,.isvalid:before  {
  position: relative;
  left: -35px;
  content: "✔";
  color: green;
}

.invalid, .valid{
  color: white;
}

.invalid:before, .novalid:before {
  position: relative;
  left: -35px;
  content: "✖";
  color: red;
}


#inscription{
  padding: 3em;
}

#inscription .button{
  border: none;

}

@media screen and (max-width: 767px){
  form{
    margin: auto;
  }
}
