.bienvenue-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  height: 5em;
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
  
  /*border-style: solid;
  border-color: black;*/
}


/*Message de bienvenue*/

.texte-presentation{
  text-align: justify;
  width: 100%;
}

.connexion{
  display: flex;
  color: white;
  text-decoration:none;

  justify-content: right;
  align-items: center;
  padding-right: 2em;
}

.connexion:hover{
  text-decoration:underline;
}

.bienvenue{
  justify-content: center;
  margin: 20px 0 20px 0;
  margin-inline: 30%;
  padding-bottom: 20px;
}

.title{
  font-size: 2.5em;
  text-align: center;
}

/*Responsivité de la page*/


@media screen and (max-width: 767px){
  .logo {
    height: 5em;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    
    /*border-style: solid;
    border-color: black;*/
  }
  .bienvenue{
    justify-content: center;
    margin: 50px 0 20px 0;
    margin:auto;
    /*border-style: solid;
    border-color: black;*/
  }
  
  
}

/*Le CSS du carroussel*/

.slider-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  height: 350px;
  overflow: hidden;
  border-radius: 30px;
}
.slide-menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slide-menu-item {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  aspect-ratio: 1 / 1;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.slide-menu-item:hover, .slide-menu-item:focus {
  background: #1c87c9;
}

.slide-item {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
  object-fit: cover;
}


.slide-input:checked + .slide-item {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

/*CSS pour le formulaire*/

form{
  justify-content: center;
  align-content: center;
  margin: 20px 0 20px 0;
  margin-inline: 30%;
  padding-bottom: 20px;
  border-radius: 30px;
}

#SignIn{
  display: none;
}

fieldset{
  margin-top: 4em;
  margin-bottom: 4em;
  border: none;
}

form fieldset input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  width: 20em;
  height: 2em;
}

form button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  font-style: oblique;
  font-size: 20px;
  background-color: white;
}

form a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-decoration:none;
}

form a:hover{
  text-decoration:underline;
}

form div fieldset legend{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
}

@media screen and (max-width: 767px){
  form{
    margin: auto;
  }
}

form button:focus {  
  height: 40vh;
  width: 25vw;
}

form button:hover {
  width: 8rem;
  height: 3rem;
  transition: 
    height 500ms ease-in-out,
    width 500ms ease-in-out;
}

